<!doctype html>
<html ng-app="dbotExtApp">
  <head>
    <title>DateBot</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/popup.css" rel="stylesheet">
  </head>
  <body>
  <div ng-controller="ProfileController">
      <h2>Datebot Beta</h2>

    <!--Begin new user view-->
      <div ng-show="!foundKeywords">
        <div style="position:absolute; left:75%;"><img src="img/Thomas-Hello128.png" alt="Welcome!" /></div><br />  
        <p class="lead">Welcome to Datebot! It looks like you're a new user. <br />To get started, visit the Options page or read the <a href="https://docs.google.com/document/d/1EQIzJzchrmPx05tBrfrFsu3J58TQyW5z7I-imuz7XFc" target="_blank">Datebot Guide</a><br /><button class="btn btn-primary" ng-click="goToOptions()">Go to the Options Page</button></p>

        <span class="import_note">Note: If you're an existing user, your data might've been wiped from Chrome. If you exported your data, you can import it on the options page!</span>

      </div>
    <!--End new user view-->

  <div class="alert" ng-show="!profiles.length && !loading">Nothing found. Are you sure you're on an OKCupid profile? If so, refreshing the page should do the trick.</div>
   <table class="table table-bordered" ng-show="profiles.length">
    <thead>
      <tr>
        <th class="columntitle">Match</th>
          <th class="columntitle">Similarities</th>
          <th class="columntitle">Context</th>
          <th class="columntitle">The Message</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="profile in profiles">
      <td id="matchinfo">
        <a href="http://www.okcupid.com/profile/{{profile.okcUsername}}" target="_blank">{{profile.okcUsername}}</a>  
        <img src="{{profile.okcPicture}}" /><br /><br />
      </td>
      <td id="similarities">
        <div ng-repeat="match in profile.matches.matched" ng-hide="profile.messaged">
          <input type="checkbox" ng-model="match.checked" ng-checked="match.checked" ng-click="keywordClick()"/> {{match.keyword}}
          <span class="moveit" ng-click="raiseKeywordPosition(match, profile.matches.matched)" ng-hide="$first">&uarr;</span>
          <span class="moveit" ng-click="lowerKeywordPosition(match, profile.matches.matched)" ng-hide="$last">&darr;</span>


        </div>
      </td>
      <td id="match_context">
        <p ng-repeat="match in profile.matches.matched" ng-bind-html-unsafe="match.context" ng-hide="profile.messaged"></p>
      </td>
      <td id="full_profile" ng-show="false">
        <div ng-repeat="section in profile.okcContext">
          <p><strong>{{section.name}}</strong></p>
          <p>{{section.essay}}</p>
        </div>
      </td>
      <td id="the_message">
        <div class="alert" ng-hide="profile.matches.matched.length">Bummer, couldn't find anything in common here. Want to send a generic message?</div>
<!-- 
          <td colspan="4" ng-repeat="profile in profiles" ng-hide="profile.matches.matched.length"><span class="alert">Bummer, couldn't find anything in common here. Want to send a generic message?</span></td> -->
        <div class="finalmessage" id="{{profile.okcUsername}}_message" ng-hide="profile.customEditorActive || saveCustomized">
          <p ng-bind-html-unsafe="profile.matches.opener"></p>
          <p ng-hide="!((profile.matches.matched | filter:{checked: true}).length)" ng-repeat="match in profile.matches.matched | filter:{checked: true}">{{match.message}}</p>
          <p ng-if="!((profile.matches.matched | filter:{checked: true}).length)">{{genericQuestion}}</p>
          <p ng-bind-html-unsafe="profile.matches.closer"></p>
        </div>

        
        <!--Custom Editor functionality-->
        <div class="customized_finalmessage" ng-show="saveCustomized && !profile.customEditorActive" ng-bind-html-unsafe="$parent.customMessage | replaceLineBreaks"></div>
        <textarea class="custom_editor" ng-model="$parent.customMessage" ng-show="profile.customEditorActive" ng-change="markAsCustomized(profile)"></textarea>
        <button id="{{profile.okcUsername}}_customize" ng-hide="profile.customEditorActive" ng-click="showCustomEditor(profile)">Customize</button>
        <button id="{{profile.okcUsername}}_customsave" ng-show="profile.customEditorActive" ng-click="saveCustomEdit(profile)">Save</button>
        
        <div id="{{profile.okcUsername}}_customized_alert" class="alert" ng-show="saveCustomized">Note: This is a customized message. Adjusting your keyword choices will reset the message to your defaults!</div>
        <!--End Custom Edtior functionality-->
        <button id="{{profile.okcUsername}}" class="btn btn-primary sendmessage" ng-hide="profile.customEditorActive" ng-click="sendToTab(profile)">Send the message!</button>

        <div id="{{profile.okcUsername}}_data" ng-hide="true">{{profile.matches | filterForDatabase:saveCustomized:profile.okcUsername}}</div><!--This div preps the data for the database if we choose to send the msg-->

      </td>
    </tr>
  </tbody>
  </table>  

  </div>
  <div class="imagecredit">
    <p>Image Credit: <a href="http://www.iconarchive.com/show/daft-punks-icons-by-tsukasa-tux.html" target="_blank">Tsukasa-Tux</a>.</p>
  </div>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ScraperData.js"></script>
    <script src="js/ProfileController.js"></script>
    <script src="js/filters.js"></script>
    <script src="lib/jquery.min.js"></script>
  </body>
</html>

