<!doctype html>
<html ng-app="dbotExtApp">
  <head>
    <title>DateBot</title>
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/popup.css" rel="stylesheet">
  </head>
  <body>
  <div ng-controller="ProfileController">
      <h2>DateBot Extension Beta</h2>

    <div id="picture"></div>
    <button id="portover" class="btn">Port Over</button>
    <button id="rescan" class="btn">Rescan</button>
    <div id="info"></div>
    <div id="the-progress-bar" class="progress progress-striped active">
      <div id="the-progress-bar-2" class="bar" style="width: 0%;"></div>
    </div>


   <table class="table table-bordered">
    <thead>
      <tr>
        <th class="columntitle">Match</th>
          <th class="columntitle">Similarities</th>
          <th class="columntitle">Context</th>
          <th class="columntitle">The Message</th>
      </tr>
    </thead>
    <tbody>
    <tr ng-repeat="profile in profiles">
      <td id="matchinfo">
        <a href="http://www.okcupid.com/profile/{{profile.okcUsername}}" target="_blank">{{profile.okcUsername}}</a>  
        <img src="{{profile.okcPicture}}" /><br /><br />
      </td>
      <td id="similarities">
        <div ng-repeat="match in profile.matches.matched" ng-hide="profile.messaged">
          <input type="checkbox" ng-model="match.checked" ng-checked="match.checked" /> {{match.keyword}}
          <span class="moveit" ng-click="raiseKeywordPosition(match, profile.matches.matched)" ng-hide="$first">&uarr;</span>
          <span class="moveit" ng-click="lowerKeywordPosition(match, profile.matches.matched)" ng-hide="$last">&darr;</span>


        </div>
      </td>
      <td id="match_context">
        <p ng-repeat="match in profile.matches.matched" ng-bind-html-unsafe="match.context" ng-hide="profile.messaged"></p>
      </td>
      <td id="full_profile" ng-show="false">
        <div ng-repeat="section in profile.okcContext">
          <p><strong>{{section.name}}</strong></p>
          <p>{{section.essay}}</p>
        </div>
      </td>
      <td id="the_message">
        <div class="finalmessage">
          <p ng-bind-html-unsafe="profile.matches.opener"></p>
          <p ng-repeat="match in profile.matches.matched | filter:{checked: true}">{{match.message}}</p>
          <p ng-if="!((profile.matches.matched | filter:{checked: true}).length)">How's your week going?</p>
          <p ng-bind-html-unsafe="profile.matches.closer"></p>
        </div>
        <div id="{{profile.okcUsername}}_data" ng-hide="true">{{profile.matches | filterForDatabase}}</div><!--This div preps the data for the database if we choose to send the msg-->
        <button id="{{profile.okcUsername}}" class="btn btn-primary sendmessage" ng-click="sendToTab()">Send the message!</button>

      </td>
    </tr>
  </tbody>
  </table>  

    <div id="messagescraper">
      <a href="http://www.okcupid.com/messages" target="_blank"><button type="button" class="btn" id="messagescrape">Check for Messages</button></a>
    </div>

  </div>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/angular.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/ScraperData.js"></script>
    <script src="js/ProfileController.js"></script>
    <script src="js/filters.js"></script>
    <script src="lib/jquery.min.js"></script>
  </body>
</html>

