<!doctype html>
<html ng-app="datebot">
  <head>
    <title>Datebot - Online Dating Assistant</title>
    <!-- build:css css/site.min.css -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="temp/popup.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
  <div ng-controller="ProfileController as profileCtrl">
    <p class="lead title">Datebot - Online Dating Assistant</p>

    <!--Begin new user view-->
    <div ng-show="!profileCtrl.foundKeywords">
      <div style="float: right;">
        <img src="img/Thomas-Hello128.png" alt="Welcome!" /></div><br />  
        <p class="lead">Welcome to Datebot, the online dating assistant. Seems
         like you're a new user.<br />To get started, visit the Options page or 
         read the <a href="https://docs.google.com/document/d/1EQIzJzchrmPx05tB
         rfrFsu3J58TQyW5z7I-imuz7XFc" target="_blank">Datebot Guide</a><br />
         
         <button class="btn btn-primary" ng-click="profileCtrl.goToOptions()">
          Go to the Options Page</button>
        </p>

      <span class="import_note">Note: If you're an existing user, your data 
        might've been wiped from Chrome. If you exported your data, you can go 
        import it on the options page! (See link above.)</span>

    </div>
    <!--End new user view-->
  <div ng-show="profileCtrl.foundKeywords">  
  <!--This div appears if Datebot was unable to find a profile on the page-->
  <div class="alert" 
       ng-show="!profileCtrl.profile && !profileCtrl.loading">
     Nothing found. Are you sure you're on an OKCupid profile? If so, 
     refreshing the page should do the trick.
   </div>
  
  <!--This is where Datebot will give you a recommendation based on how 
      important the matched keywords are to you-->
  <div class="recommendation" ng-show="profileCtrl.profile.recommendation">        
    <p class="lead">
      Datebot says: <br />
      <strong>"{{profileCtrl.profile.recommendation}}"</strong>
    </p>
  </div>

  <!--This area contains checkboxes for different options while analyzing a 
      match, including debugging-->
  <div id="toggle-options" ng-hide="!profileCtrl.profile">
    <input style="margin-bottom: 4px;" 
           type="checkbox" 
           ng-model="profileCtrl.hidePicture" />
    <small class="toggle_label">Hide Picture?</small>

    <input style="margin-bottom: 4px;" 
           type="checkbox" 
           ng-model="profileCtrl.hideContext" />
    <small class="toggle_label">Hide Context?</small>

    <input style="margin-bottom: 4px;" 
           type="checkbox" 
           ng-model="profileCtrl.debug" />
    <small class="toggle_label">Debug mode?</small>
    <input style="margin-bottom: 4px;" 
           type="checkbox" 
           ng-model="profileCtrl.noTracking" />
    <small class="toggle_label">Don't record messages?</small>      
  </div>

   <!--This contains match info (where most of the workflow takes place)-->
   <table class="table table-bordered" ng-show="profileCtrl.profile">
    <thead>
      <tr>
        <th ng-hide="profileCtrl.hidePicture" class="columntitle">Match</th>
        <th class="columntitle">Similarities</th>
        <th ng-hide="profileCtrl.hideContext" class="columntitle">Context</th>
        <th class="columntitle">The Message</th>
      </tr>
    </thead>
    <tbody>
    <tr>
      <td ng-hide="profileCtrl.hidePicture" id="matchinfo">
        <a href="http://www.okcupid.com/profile/{{profileCtrl.profile.okcUsername}}" 
           target="_blank">{{profileCtrl.profile.okcUsername}}</a>  
        <img src="{{profileCtrl.profile.metaData.pictureUrl}}" /><br />
        <p class="score lead">
          Score:<br />
          <strong>{{ profileCtrl.profile.matchScore }}</strong>
        </p>
      </td>
      <td id="similarities">
        <div ng-repeat="match in profileCtrl.profile.matchData.matched" 
             ng-hide="profileCtrl.profile.messaged" 
             class="match-entry">
          <input type="checkbox" 
                 ng-model="match.checked" 
                 ng-checked="match.checked" 
                 ng-click="profileCtrl.keywordClick()"/> {{match.keyword}}
          <div class="moveit-container" 
               ng-hide="profileCtrl.profile.matchData.matched.length === 1">

            <span class="moveit glyphicon glyphicon-arrow-up" 
                  ng-click="profileCtrl.raiseKeywordPosition(
                                match, profileCtrl.profile.matchData.matched)" 
                  ng-hide="$first"></span>

            <span class="moveit glyphicon glyphicon-arrow-down" 
                  ng-click="profileCtrl.lowerKeywordPosition(
                                match, profileCtrl.profile.matchData.matched)" 
                  ng-hide="$last"></span>
            
          </div>
          <hr ng-hide="profileCtrl.profile.matchData.matched.length === 1" />
        </div>
      </td>
      <td ng-hide="profileCtrl.hideContext" id="match_context">
        <p ng-repeat="match in profileCtrl.profile.matchData.matched" 
           ng-bind-html="match.context | unsafe" 
           ng-hide="profileCtrl.profile.messaged"></p>
      </td>

      <!--Holds the processed message and in-place editing functionality-->
      <td id="the_message" style="min-width: 225px;">
        <div class="alert" ng-hide="profileCtrl.profile.matchData.matched.length">
          Bummer, couldn't find anything in common here. Want to send a 
          generic message?
        </div>

        <div class="finalmessage" 
             id="{{profileCtrl.profile.okcUsername}}_message" 
             ng-hide="profileCtrl.profile.customEditorActive || 
                          profileCtrl.saveCustomized">

          <!--Open the message with the chosen opener-->
          <p ng-bind-html="profileCtrl.profile.matchData.opener | unsafe"></p>

          <!--Loop through the profileCtrl.profile.matchData.matched array to display the 
              message associated with the keywords-->
          <!--Also contains transition text span, which is determined in your 
              options area. Only part of DOM when $index > 0-->
          <p ng-hide="!((profileCtrl.profile.matchData.matched | filter:{checked: true}).length)" 
             ng-repeat="match in profileCtrl.profile.matchData.matched | filter:{checked: true}">

            <span ng-if="$index != 0" class="transition_text">
              {{ $index === 1 
                  ? profileCtrl.keywords.first_transition + ' ' 
                  : profileCtrl.keywords.second_transition + ' ' }}
            </span>{{match.message | adjustCapitalLetters : $index : profileCtrl.keywords}}
          </p>
          
          <!--If there are no matches after all filters are applied, 
              replace body text with a generic question-->
          <p ng-if="!((profileCtrl.profile.matchData.matched | filter:{checked: true}).length)">
            {{genericQuestion}}
          </p>
          
          <!--Close the message with the closing text-->
          <p ng-bind-html="profileCtrl.profile.matchData.closer | unsafe"></p>
        </div>

        
        <!--Custom Editor functionality-->
        <div class="customized_finalmessage" 
             ng-show="profileCtrl.saveCustomized && !profileCtrl.profile.customEditorActive" 
             ng-bind-html="profileCtrl.customMessage | replaceLineBreaks | unsafe">
        </div>
        <textarea class="custom_editor" 
                  ng-model="profileCtrl.customMessage" 
                  ng-show="profileCtrl.profile.customEditorActive" 
                  ng-change="profileCtrl.markAsCustomized()"></textarea>
        <button id="customize-btn" 
                class="btn" 
                ng-hide="profileCtrl.profile.customEditorActive" 
                ng-click="profileCtrl.showCustomEditor(profileCtrl.profile)">
            Customize
        </button>
        <button id="custom-save-btn" 
                class="btn" ng-show="profileCtrl.profile.customEditorActive" 
                ng-click="profileCtrl.saveCustomEdit(profileCtrl.profile)">Save</button>
        
        <div id="customized_alert" 
             class="alert" 
             ng-show="profileCtrl.saveCustomized">
             Note: This is a customized message. Adjusting your keyword choices
              will reset the message to your defaults!
        </div>
        <!--End Custom Edtior functionality-->

        <button id="{{profileCtrl.profile.okcUsername}}" 
                class="btn btn-primary sendmessage" 
                ng-hide="profileCtrl.profile.customEditorActive" 
                ng-click="profileCtrl.sendToTab(profile)">
                Send the message!
        </button>
        
        <hr />
        
        <button class="btn btn-small" ng-click="profileCtrl.goToOptions()">
          Options Page
        </button>

        <!--Debug feature for previewing the plain text message to ensure no 
            HTML stuck around after processing-->
        <div ng-if="profileCtrl.debug">
          <input type="checkbox" ng-model="profileCtrl.testingMode" /> 
          Preview processed, plain-text message?
          <br />
          <div id="html_preview" 
               ng-if="profileCtrl.testingMode" 
               ng-bind-html="profileCtrl.testMessage()">
          </div>
        </div>

      </td>
    </tr>
  </tbody>
  </table>  
  
  <!--Show the Datebot logo if no matches were found, as a placeholder-->
  <div ng-show="!profileCtrl.profile && !profileCtrl.loading">
    <img class="centered" src="img/Thomas-Hello128.png">  
    <div class="imagecredit">
      <p>Image Credit: 
        <a href="http://www.iconarchive.com/show/daft-punks-icons-by-tsukasa-tux.html" 
           target="_blank">Tsukasa-Tux</a>.</p>
    </div>
    <br />
    <div style="margin: 0px auto;width: 12%;display: block;">
      <button class="btn btn-small" 
              ng-click="profileCtrl.goToOptions()">
              Options Page
      </button>
    </div>
  </div>

  </div>
  </div>
    <!-- build:js js/vendor.min.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <!-- endbuild -->

    <!-- build:js js/app.min.js -->
    <script src="js/app.js"></script>
    <script src="js/ScraperService.js"></script>
    <script src="js/MatchService.js"></script>
    <script src="js/TextProcessorService.js"></script>
    <script src="js/ProfileController.js"></script>
    <script src="js/filters.js"></script>
    <!-- endbuild -->
  </body>
</html>

