<div class="container">
<div class="navbar">
	<div class="navbar-inner">
		<ul class="nav"></ul>
	</div>
</div>
<div>
	<h1>Analytics</h1><br />
</div>

<div class="interaction-summary">
	<h2>Summary</h2>
	<p>You have sent <strong>{{ dataLength }}</strong> messages since {{ earliestInteraction }}. <br /></p>
	<p> At a rate of <strong>{{ ratePerWeek }}</strong> messages per week.</p>
	<p> And a response rate of <strong>{{ responseRate | convertToPercent }}%</strong></p>
	<hr />
</div>

<div class="keyword-analysis">

</div>

<div class="">
</div>

<div class="imagecredit">
	<p>Image Credit: <a href="http://www.iconarchive.com/show/daft-punks-icons-by-tsukasa-tux.html" target="_blank">Tsukasa-Tux</a>.</p>
</div>
</div>