<!doctype html>
<html lang="en" ng-csp>
<head>
	<meta charset="utf-8">
	<title>Interest Management</title>

	<link rel="stylesheet" type="text/css" href="../../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/app.css">
	
	<!-- build:js(.) js/vendor-options.min.js -->
	<script src="../../bower_components/jquery/dist/jquery.js"></script>
	<script src="../../bower_components/underscore/underscore.js"></script>
	<script src="../../bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="../../bower_components/angular/angular.js"></script>
	<script src="../../bower_components/angular-route/angular-route.js"></script>
	<!-- endbuild -->

	<script type="text/javascript" src="https://www.google.com/jsapi"></script>

  <!-- build:js js/options.min.js -->
	<script src="js/app.js"></script>
	<script src="js/filters.js"></script>
	<script src="js/controllers/KeywordController.js"></script>
	<script src="js/services/KeywordData.js"></script>
	<script src="js/controllers/AnalyticsCtrl.js"></script>
	<script type="text/javascript" src="js/ngGoogleCharts.js"></script>
	<!-- endbuild -->

</head>
<body>
<div class="container">	

  <ng-view></ng-view>
</div>

</body>
</html>