<html ng-app="scraperApp">
<head>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<title>Datebot WebApp Alpha</title>
</head>
<body>
<div class="container" ng-controller="ProfileController">
	<h1>Datebot Web Alpha</h1>

	<p class="lead" style="margin-top:150px; text-align:center;" ng-show="loading">Datebot is grabbing your matches...</p>

	<img style="position:absolute; left:50%; top:50%;" src="img/ajax-loader.gif" ng-show="loading" />

	<table class="table table-bordered" ng-hide="loading">
		<thead>
			<tr>
				<th class="columntitle">Match</th>
			    <th class="columntitle">Similarities</th>
			    <th class="columntitle">Context</th>
			    <th class="columntitle" ng-show="false">Full Profile</th>
			    <th class="columntitle">The Message</th>
			</tr>
		</thead>
		<tr ng-repeat="profile in profiles" ng-show="profile.matches.matched.length">
			<td id="matchinfo">
				<a href="http://www.okcupid.com/profile/{{profile.okcUsername}}" target="_blank">{{profile.okcUsername}}</a>	
				<img src="{{profile.okcPicture}}" /><br /><br />
				<button class="btn" ng-click="open(profile.okcUsername, profile.okcContext)">Full Profile</button>				
			</td>
			<td id="similarities">
				<div ng-repeat="match in profile.matches.matched">
					<input type="checkbox" ng-model="match.checked" ng-checked="match.checked" /> {{match.keyword}}
				</div>
			</td>
			<td id="match_context">
				<p ng-repeat="match in profile.matches.matched" ng-bind-html-unsafe="match.context"></p>
			</td>
			<td id="full_profile" ng-show="false">
				<div ng-repeat="section in profile.okcContext">
					<p><strong>{{section.name}}</strong></p>
					<p>{{section.essay}}</p>
				</div>
			</td>
			<td id="the_message">
				<div class="finalmessage">
					<p ng-bind-html-unsafe="profile.matches.opener"></p>
					<p ng-repeat="match in profile.matches.matched | filter:{checked: true}">{{match.message}}</p>
					<p ng-bind-html-unsafe="profile.matches.closer"></p>
				</div>
				<button id="{{profile.okcUsername}}" class="btn btn-primary sendmessage">Send the message!</button>
			</td>
		</tr>
	</table>

	<ul>
		<li ng-repeat="user in successes">
			{{user}}
		</li>
	</ul>

</div>

<div ng-controller="ProfileController">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3>Profile for {{user}}</h3>
        </div>
        <p>{{text}}</p>
        <div class="modal-body">
			<div ng-repeat="section in profile">
					<h2>{{section.name}}</h2>
					<p>{{section.essay}}</p>
			</div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>
</div>

<!-- <script src="lib/underscore-min.js"></script> -->
<!-- <script src="lib/bootstrap.min.js"></script> -->
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
<script src="lib/jquery.min.js"></script>
<script src="lib/ui-bootstrap-tpls-0.6.0.js"></script>
<script src="js/app.js"></script>
<script src="js/services/ScraperData.js"></script>
<script src="js/services/MessageSuccessData.js"></script>
<script src="js/controllers/ProfileController.js"></script>
<script src="js/controllers/ModalController.js"></script>
<script src="js/filters.js"></script>

</body>
</html>