<!doctype html>
<html lang="en" ng-csp>
<head>
	<meta charset="utf-8">
	<title>Interest Management</title>
	<script src="/options/lib/jquery.min.js"></script>
	<script src="/options/lib/underscore-min.js"></script>
	<script src="/options/lib/bootstrap.min.js"></script>
	<script src="/options/lib/angular/angular.min.js"></script>
	<script src="/options/lib/angular/angular-route.js"></script>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>


	<script src="/options/js/app.js"></script>
	<script src="/options/js/filters.js"></script>
	<script src="/options/js/controllers/KeywordController.js"></script>
	<script src="/options/js/services/KeywordData.js"></script>
	<script src="/options/js/controllers/AnalyticsCtrl.js"></script>
	<script type="text/javascript" src="/options/js/ngGoogleCharts.js"></script>

	<link rel="stylesheet" href="/options/css/bootstrap.min.css">
	<link rel="stylesheet" href="/options/css/app.css">
	<link rel="stylesheet" type="text/css" href="/options/css/angular-csp.css">
</head>
<body>
<div class="container">
  <div class="navbar">
  	<a style="margin-left:0px;" class="brand">Datebot</a>
  	<div class="navbar-inner">
  		<ul class="nav">
  			<li ng-class="{active : interestsPage}" ng-click="interestsPage = true; analyticsPage = false;"><a href="#/">Interests</a></li>
  			<li ng-class="{active : analyticsPage}" ng-click="analyticsPage = true; interestsPage = false;"><a href="#/analytics">Analytics</a></li>
  		</ul>
  	</div>
  </div>	

  <ng-view></ng-view>
</div>

</body>
</html>