<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <title>DBot Datastore</title>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">

    <div class="row navbar">
      <div class="navbar-inner">
        <a class="brand" href="#">Datebot {{admin}}</a>
        <ul class="nav pull-right">
          <li><a href="{{ url|safe }}">{{ url_linktext }}</a></li>
        </ul>
      </div>
    </div>  
    <div class="row">
      <h2>Summary</h2>
    </div>
    
    <div class="row">
      <div class="span7">
        <p class="lead">Messages Sent: <strong>{{ count }}</strong></p>
        <p class="lead">Responses Received: <strong>{{ responses }}</strong></p>
        <p class="lead">Response Rate: <strong>{{ response_rate }}%</strong></p>
      </div>
      <div class="span5 pull-right">
        <img class="pull-right" width="175px" src="img/Thomas-Hello.png" />
      </div>
    </div>
    
    <div class="row">
      <h2>Data Table</h2>
    </div>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Date</th>
          <th>User</th>
          <th>Girl</th>
          <th>Keywords</th>
          <th>Custom?</th>
          <th>Response</th>
        </tr>
      </thead>
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.date }}</td>
            <td>{{ message.user }}</td>
            <td>{{ message.sent_to }}</td>
            <td>
              <ul>
              {% if message.keywords %}

                {% for keyword in message.keywords %}
                  <li> {{ keyword }} <small> {{ message.keywords[keyword] }} </small></li>
                {% endfor %}

              {% else %}
                <li>No keywords could be found.</li>
              {% endif %}
              </ul>
            </td>
            <td>{{ message.customized }}</td>
            <td>{{ message.response }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


    <a href="{{ url|safe }}">{{ url_linktext }}</a>
  </div>
  <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
  </body>
</html>
{% endautoescape %}